# Service file for use with systemd

[Unit]
Description=NICs are running with faked mac adresses
Requires=network.target avahi-daemon.service
Before=dbus.service
IgnoreOnSnapshot=true
AllowIsolate=true

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/fakemac.sh start
ExecStop=/usr/local/bin/fakemac.sh stop

[Install]
WantedBy=multi-user.target 
Also=network.target
